<nav id="myNavbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Conference</div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isLogged()" ng-class="{active: isActive(['^/speakers/'])}">
          <a role-link href="/speakers">Speakers</a>
        </li>
        <li *ngIf="isLogged()" ng-class="{active: isActive(['^/sessions/'])}">
          <a role-link href="/sessions">Sessions</a>
        </li>
        <li *ngIf="isLogged()">
          <a href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
