<div class="ng-scope">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Speakers
    </div>
    <div class="panel-body table-responsive relative">
      <p-dataTable [value]="records" class="table table-hover table-striped" #dt sortMode="single"
                   [rows]="20" [paginator]="true" [pageLinks]="5"
                   [rowsPerPageOptions]="[50,100]"
                   [sortableRowGroup]="true">
        <p-column field="firstName" header="First Name"></p-column>
        <p-column field="lastName" header="Last Name"></p-column>
        <p-column field="title" header="Title"></p-column>
        <p-column field="company" header="Company"></p-column>
        <p-column field="id" [style]="{'width':'60px'}">
          <template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
            <button class="btn btn-default" (click)="delete(record)"
                    style="padding: 2px 4px 2px 4px !important">Delete</button>
          </template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
  <loading-indicator [isLoading]="loading"></loading-indicator>
</div>
